body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 180px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.list {
    text-align: start;
    font-size: small;
}


.card {
    width: 450px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #56cfe1;
    color: #2b2839;
    border-bottom: 8px solid #5e60ce;
    border-radius: 30px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

